<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previous order results</title>
</head>
<body>
<h1>Your result is:</h1>
{% if orders |length ==0 %}
<h2>You don't have order associated with the information provided</h2>
{% else %}
<table>
    <tr>
    <th>Order Number</th>
    <th>Order Date</th>
    <th>Order Time</th>
    <th>Show Name</th>
    <th>Theatre</th>
    <th>Section</th>
    <th>Row</th>
    <th>Seat</th>
    <th>Show Date</th>
    <th>Show Time</th>
  </tr>
  {% for order in orders %}
   <tr>
    <th>{{ order.order_number }}</th>
    <th>{{ order.o_date }}</th>
    <th>{{ order.o_time }}</th>
    <th>{{ order.show }}</th>
    <th>{{ order.theatre }}</th>
    <th>{{ order.section }}</th>
    <th>{{ order.row }}</th>
    <th>{{ order.seat }}</th>
    <th>{{ order.s_date }}</th>
    <th>{{ order.s_time }}</th>
  </tr>
  {% endfor %}
</table>
{% endif %}
<input type="button" value="Return" onclick="history.back()">
<form action="/"><input type="submit" value="Main menu"></form>
</body>
</html>