<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for your previous orders</title>
    <style>
        input {
          width: 20%;
          padding: 15px 20px;
          margin: 5px 0;
          box-sizing: border-box;
        }
    </style>
    <script>
        function validateFormFirst() {
            var x = document.forms["first"]["ByOrderNumber"].value;
            if (x == "" || x == null) {
                alert("The order number cannot be empty!");
                return false;
            }

            if (isNaN(x)){
                alert("The order number should be a number!");
                return false;
            }
    };
        function validateFormSecond() {
           var x = document.forms["second"]["ByEmail"].value;
           if (x == "" || x == null) {
                  alert("Your email cannot be empty!");
                  return false;
           }

           if (!x.includes("@")) {
                alert("Invalid! Email must include @");
                return false;
            }
    };

    </script>
</head>
<body>
<div style="width:100%;text-align:center">
    <h2>We need some basic information to locate your treasure...</h2>
    <form action="/findByOrderNumber" method="POST" name="first" onsubmit="return validateFormFirst()">
        <input id="ByOrderNumber" name="ByOrderNumber" placeholder="Your order number is" type="text"><br>
        <input type="submit" value="Confirm">
    </form>

    <p>Or</p>

    <form action="/findByEmail" method="POST" name="second" onsubmit="return validateFormSecond()">
        <input id="ByEmail" name="ByEmail" placeholder="Your email is" type="text"><br>
        <input type="submit" value="Confirm">
    </form>


    <input onclick="history.back()" type="button" value="Return">
</div>
</body>
</html>