<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment information</title>
    <script>

        function validateFormFirst() {
            var name = document.forms["first"]["cName"].value;
            var email = document.forms["first"]["cEmail"].value;
            var phone = document.forms["first"]["cPhone"].value;

            if (name == "" || name == null || email == "" || email == null || phone == "" || phone == null) {
                alert("All fields except Discount and Payment Method must be filled out!");
                return false;
            }

            if (!email.includes("@")) {
                alert("Invalid! Email must include @");
                return false;
            }

            if (phone.length > 10) {
                alert("Invalid! The length of phone number should not be longer than 10");
                return false;
            }

        };

    </script>
</head>
<body>
<h1 style="text-align:center">Payment Information</h1><br>

<dl>
    <dt style="text-align:center">
        <form action="/completeOrder" method="POST" name="first" onsubmit="return validateFormFirst()">

            <label>Name: </label> <input id="cName" name="cName" placeholder="Your Name" type="text"><br><br>
            <label>Email: </label> <input id="cEmail" name="cEmail" pattern=".+@.+$" placeholder="Your Email" required
                                          type="text"><br><br>
            <label>Phone: </label> <input id="cPhone" name="cPhone" placeholder="Your Phone" type="text"><br><br>
            <!--                <label>Discount: </label> <input type="text" name="discount" id="discount" placeholder="Promo Code"><br><br>-->
            <label>Payment Method: </label>
            <input checked id="creditC" name="paymentM" type="radio" value="credit card"><label for="creditC">credit
            card</label>
            <input id="paypal" name="paymentM" type="radio" value="paypal"><label for="paypal">paypal</label>
            <input id="appleP" name="paymentM" type="radio" value="apple pay"><label for="appleP">apple pay</label>

            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </dt>
</dl>

<br>
<form style="text-align:center">
    <input onclick="location.href='/';" type="button" value="Return">
</form>
</body>
</html>