<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <title>Find your favorite broadway shows!</title>
    <style>
        body {
            background-image: url("styles/background.jpg");
        }

    </style>
    <script>
      $( function() {
        $( "#fromDate" ).datepicker();
      } );
       $( function() {
        $( "#toDate" ).datepicker();
      } );
        function validateFormFirst() {
            var x = document.forms["first"]["byName"].value;
            if (x == "" || x == null) {
                alert("The show name must be filled out!");
                return false;
            }
    };
        function validateFormSecond() {
           var from_date = document.forms["second"]["fromDate"].value;
           var to_date = document.forms["second"]["toDate"].value;
           if (from_date == "" || from_date == null || to_date == "" || to_date == null) {
                  alert("Both from date and to date must be filled out!");
                  return false;
           }
           if (from_date>to_date){
                alert("From date cannot be later than to date!");
                return false;
           }
    };
    </script>
</head>
<body>
<div style="width:100%;text-align:center">
<h1>Start your broadway experience now!</h1>
    <form name="first" action="/submitAvailabilityRequestByName" method="POST" onsubmit="return validateFormFirst()">
      <input type="text" name="byName" id="byName" placeholder="Search by Name"><input type="submit" value="Submit">
    </form>

    <p>Or</p>

    <form name="second" action="/submitAvailabilityRequestByDate" method="POST" onsubmit="return validateFormSecond()">
        <input type="text" name="fromDate" id="fromDate" placeholder="From">
        <input type="text" name="toDate" id="toDate" placeholder="To">
        <input type="submit" value="Submit">
    </form>


    <p><a href="/allShows">Browse all shows</a></p>
    <p><a href="/prevOrders">Find your previous orders</a></p>
</div>
</body>
</html>
