<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../style.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <title>Find your favorite broadway shows!</title>
    <style>
        body {
          background-image:url("https://github.com/Yijia0106/broadway-ticket-system/blob/main/templates/background.jpg");
        }
    input {
          width: 20%;
          padding: 15px 20px;
          margin: 5px 0;
          box-sizing: border-box;
        }


    </style>
    <script>
      $( function() {
        $( "#fromDate" ).datepicker();
      } );
       $( function() {
        $( "#toDate" ).datepicker();
      } );
        function validateFormFirst() {
            var x = document.forms["first"]["byName"].value;
            if (x == "" || x == null) {
                alert("The show name must be filled out!");
                return false;
            }
    };
        function validateFormSecond() {
           var from_date = document.forms["second"]["fromDate"].value;
           var to_date = document.forms["second"]["toDate"].value;
           if (from_date == "" || from_date == null || to_date == "" || to_date == null) {
                  alert("Both from date and to date must be filled out!");
                  return false;
           }
           if (from_date>to_date){
                alert("From date cannot be later than to date!");
                return false;
           }
    };


    </script>
</head>
<body>
<div style="width:100%;text-align:center">
    <h1>Start your broadway experience now!</h1>
    <form action="/submitAvailabilityRequestByName" method="POST" name="first" onsubmit="return validateFormFirst()">
        <input id="byName" name="byName" placeholder="Search by Name" type="text"><br><input type="submit" value="Submit">
    </form>

    <p>Or</p>

    <form action="/submitAvailabilityRequestByDate" method="POST" name="second" onsubmit="return validateFormSecond()">
        <input id="fromDate" name="fromDate" placeholder="From" type="text">
        <input id="toDate" name="toDate" placeholder="To" type="text"><br>
        <input type="submit" value="Submit">
    </form>


    <p><a href="/allShows">Browse all shows</a></p>
    <p><a href="/prevOrders">Find your previous orders</a></p>
</div>
</body>
</html>
